/* Define root variables for colors and spacing */
:root {
  --primary: #0B1332; /* Primary color */
  --secondary: #87CEFA; /* Secondary color (light blue) */
  --tertiary: #013175; /* Tertiary color */
  --light: #EBEBEB; /* Light color */
  --dark: #272f32; /* Dark color */
  --error: rgb(228, 46, 1); /* Error color */
  --spacing-one: calc(1rem * 0.5); /* Spacing value 1 */
  --spacing-two: calc(1rem); /* Spacing value 2 */
  --text-outline-color: #000; /* Outline color for text */
  --text-fill-color: #FFA500; /* Fill color for text (light orange) */
}

/* Global box-sizing reset */
* {
  box-sizing: border-box;
}

/* Set background color for html and body */
html,
body {
  min-height: 100%;
  background-color:#ffffff; /* Background color */
}

/* Body styles */
body {
  margin: 0;
  padding: 0;
  font-family: 'arial', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-size: 18px;
  color: var(--dark); /* Set text color */
  text-shadow: -1px -1px 0 var(--text-outline-color),  
                1px -1px 0 var(--text-outline-color),
               -1px  1px 0 var(--text-outline-color),
                1px  1px 0 var(--text-outline-color); /* Add black outline to text */
}

/* Heading styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'ariel', sans-serif;
  font-weight: 500;
  margin: 5px 0;
  line-height: 1.25;
}

/* Individual heading sizes */
h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

/* Paragraph styles */
p {
  font-size: 1.1rem;
  margin-top: 0;
  color: var(--text-fill-color); /* Set text color */
}

/* Anchor styles */
a {
  color: var(--tertiary); /* Set anchor color */
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

/* Header styles */
header {
  background: var(--primary); /* Set header background color */
}

header a {
  color: var(--light);
}

/* Button styles */
button {
  font-size: 1rem;
  text-decoration: none;
  padding: 0.25rem 1rem;
  border-radius: .5rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 1px;
  background-color: var(--secondary); /* Set button background color */
  color: #090A0B;
}

button:hover {
  opacity: .8;
}

button[disabled] {
  cursor: default;
  opacity: .8;
}

/* Image styles */
img {
  width: 200px;
  height: 200px;
  object-fit: contain; /* display different sized images the same */
  
}

/* Span styles */
span[role="img"] {
  cursor: default;
}

/* Form styles */
form {
  width: 40%;
}

/* Input styles */
input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--dark);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 .25rem rgba(0, 0, 0, .5);
}

/* Container styles */
.container {
  width: 85%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

/* Flexbox utility classes */
.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

.mx-1 {
  margin-right: var(--spacing-one);
  margin-left: var(--spacing-one);
}

.mx-2 {
  margin-right: var(--spacing-two);
  margin-left: var(--spacing-two);
}

.my-1 {
  margin-top: var(--spacing-one);
  margin-bottom: var(--spacing-one);
}

.my-2 {
  margin-top: var(--spacing-two);
  margin-bottom: var(--spacing-two);
}

.px-1 {
  padding-right: var(--spacing-one);
  padding-left: var(--spacing-one);
}

.px-2 {
  padding-right: var(--spacing-two);
  padding-left: var(--spacing-two);
}

.py-1 {
  padding-top: var(--spacing-one);
  padding-bottom: var(--spacing-one);
}

.py-2 {
  padding-top: var(--spacing-two);
  padding-bottom: var(--spacing-two);
}

/* Card styles */
.card {
  width: 25%;
  text-align: center;
}

/* Error text styles */
.error-text {
  color: var(--error);
}

@media screen and (max-width: 768px) {
  .card {
    width: 100%;
  }
}
/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */